.checkbox_product_name{
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;;
}

.checkbox_product_name>img{
    border-radius: 10px;
    height: 60px;
    width: 50px;
}

input[type='checkbox']{
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 200;
    accent-color: var(--bg-primary);
  
}




.variant_main_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;
}

.variant_details{
    display: flex;
    justify-content: space-between;
    margin-right: 0.8rem;
}

.variant_details>div{
    padding:0 1rem;
    
}

.product_form_button{
    position: sticky;
    /* text-align: right; */
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid lightgray;
}

.product_form_button>div>button{
    padding:0.6rem 1rem;
    font-size: 0.8rem;
    background: none;
    font-weight: 500;
}
.cancel_button{
    border: 1px solid var(--bg-primary);
    border-radius: 4px;
    color: var(--bg-primary);
    margin-right: 10px;
}
.submit_button{
    border: none;
    border-radius: 4px;
    background-color: var(--bg-primary) !important;
    color: white;
}
.border_bottom{
    border-bottom: 1px solid lightgray;
    width: 100%;
}
